body {margin: 0px;}
#BODY{
    margin: 0 15%;
    background: #F0F0F0;
    font: 16px "Microsoft YaHei", sans-serif;
}
header {
    height: 70px;
    margin-bottom: 1em;
    background: #8E8CD8;
    font: bold 25px sans-serif;/*font-size*/
    line-height: 70px;
    color: white;
    text-indent: 2em;/*text-indent*/
}
nav {
    margin: 1em 0;
    text-align: center;
}
nav li {
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.3em 1em;
 
    box-sizing: border-box;
    background-color: #8E8CD8;
    border: #8E8CD8 1px solid;
    border-radius: 0 10px;
}
nav li a:link, nav li a:visited {
    color: white;
    text-decoration: none;
}
nav li a:hover {
    font-weight: bold;
}

.a
{
margin:30px;
width:120px;
height:30px;
background-color:yellow;
/* Rotate div */
transform:rotate(9deg);
-ms-transform:rotate(9deg); /* Internet Explorer */
-moz-transform:rotate(9deg); /* Firefox */
-webkit-transform:rotate(9deg); /* Safari 和 Chrome */
-o-transform:rotate(9deg); /* Opera */
}

h1
{
text-shadow: 5px 5px 5px #FF0000;
}

.b
{
width:400px;
height:100px;
background:yellow;
transition:width 2s, height 2s;
-moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
-o-transition:width 2s, height 2s, -o-transform 2s; /* Opera */
}

.b:hover
{
width:400px;
height:200px;
transform:rotate(180deg);
-moz-transform:rotate(180deg); /* Firefox 4 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */
-o-transform:rotate(180deg); /* Opera */
}

